* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #e94a87;
}

.App {
  background-color: #e94a87;
  font-family: var(--font-family);
}

.section__title {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 4px 10px;
  background-color: #cf4178;
  color: #fdf1f5;
}
